*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-image: url(crypto-news-white-bitcoin-sign-inside-yellow-circle-trading-chart-up-background-v5.2.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home>.h1{
    padding-top: 60px;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 166, 0);
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.cont{
    justify-content: center;
    align-items: center;
    display: flex;
}
.popup{
    width: 25rem;
    color: aliceblue;
    backdrop-filter: blur(10px);
    padding: 20px, 30px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 4s, top 0.4s;
    text-align: center;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.home>button{
    margin-top: 100px;
    margin-left: 10px;
    width: 170px;
    height: 70px;
    border-radius: 30px;
    box-shadow:0 0 15px, rgb(255, 238, 0)
               0 0 25px, rgb(255, 238, 0);
}
.home>button:hover{
    box-shadow: 0 0 5px rgb(212, 255, 0),
    0 0 25px rgb(255, 238, 0),
    0 0 50px rgb(255, 238, 0),
    0 0 100px rgb(255, 238, 0);
    scale: (1);
    transition: 1s;
}
#btn2{
    border-radius: 30px;
    width: 60px;
    margin-bottom: 10px;
}
input{
    outline: none;
    border: none;
    color: #37373a;
    font-size: 16px;
    border-bottom: 1px solid #37373a ;
    width: 340px;
}
#amount{
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    position: absolute;
    margin-left: 55px;
}
#currency{
    margin-top: 25px;
    border-radius: 6px;
    width: 200px;
}
#ffj{
    margin-top: 20px;
    border-radius: 5px;
    width: 90px;
}
h4{
    margin-top: 20px;
}
