*{
    margin: 0;
    padding: 0;
}
.home{
    background-image: url(crypto-news-white-bitcoin-sign-inside-yellow-circle-trading-chart-up-background-v5.2.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home>button{
    margin-top: 150px;
    margin-left: 40px;
    width: 170px;
    height: 70px;
    border-radius: 30px;
    box-shadow:0 0 15px, rgb(255, 238, 0)
               0 0 25px, rgb(255, 238, 0);
}
.home>button:hover{
    box-shadow: 0 0 5px rgb(212, 255, 0),
    0 0 25px rgb(255, 238, 0),
    0 0 50px rgb(255, 238, 0),
    0 0 100px rgb(255, 238, 0);
    scale: (1);
    transition: 1s;
}
.home>.h1{
    padding-top: 60px;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 166, 0);
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;
}